{
    "app_id"               : "xxxxxxxx",
    "api_key"              : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "from"                 : "alice@example.com",
    "to"                   : "bob@example.com",
    "host"                 : "smtp.example.com"
}
